<div style="width: 100%;font-family: Tahoma;font-size: 12px;">
  <div style="background-color: #ECEEF0;padding: 20px 0px 30px;">
    <div style="width: 94%;margin: 0px auto">
      <div style="background-color: white;border: 1px solid #CFDAE4;border-top: 0;padding:  15px;">
        <a style="color:green;font-family: 'Damion',sans-serif;font-size: 25px;" href="#">BrandSlip</a>
        <br/>
        <br/>
        Hi <b style="color: darkblue"><%= @brand_full_name %> </b><br/><br/>
        <b><%= @presenter_full_name %></b> has now canceled its brandslip. We apologize about any inconvenience. Your bid has now been
              canceled.<br/><br/>
        <br/>
        <b>Thanks,</b><br/>
        Brandslip Team<br/>
        <br/>
        You are receiving this email because of your registration request with Brandslip that entitles you to receive this one time mail communication. 
      </div>
      <div style="float: left;color: #999; padding: 5px 0px 0px 0px; width: 100%">
        <span>This e-mail is generated from Brandslip email accounts. If you think this is a SPAM, please report to <a href="#">info@brandslip.com</a> for immediate action.</span>
      </div>
    </div>
  </div>
</div>