<div style="width: 100%;font-family: Tahoma;font-size: 12px;">
  <div style="background-color: #ECEEF0;padding: 20px 0px 30px;">
    <div style="width: 94%;margin: 0px auto">
      <div style="background-color: white;border: 1px solid #CFDAE4;border-top: 0;padding:  15px;">
        <br/>
        <br/>
        Hi <b style="color: darkblue"><%= @to_user %>,</b><br/><br/>
        You have received a message on your BrandSlip account<br/><br/>
        <b>Message details :</b><br/>
        <div style="background-color: #FFFADB; border: 1px solid #EDDD79;">
          <div style="padding: 10px;">
            From : <%= @from_user %><br/>
            Message : <%= @msg_body %>
          </div>
        </div>
        <br/>
        
        <br/>
        <br/>
        <b>Thanks,</b>
        <br/>
        BrandSlip
        <br/>
        <br/>
        <span style="color: lightslategray">You are receiving this email because of your support request with BrandSlip that entitles you to receive this one time mail communication. </span>
      </div>
      <div style="float: left;color: #999; padding: 5px 0px 0px 0px; width: 100%">
        <span>This e-mail is generated from BrandSlip email accounts. If you think this is a SPAM, please report to <a target="_blank" href="mailto:info@brandslip.com">info@brandslip.com</a> for immediate action.</span>
      </div>
    </div>
  </div>
</div>
