<div class="container">
  <div class="row" style="padding-left: 150px">
    <h1 class="formhead conf" style="text-align: center;padding-right: 160px;">Post Your BrandSlip</h1>
    <br>    
    <%= render 'form', :action => 'new' %>
  </div>
</div>


