<div class="title" style="font-size: 100px">
  BrandSlip
</div>
<div style="font-size: 50px; padding-top: 50px;text-align: center">
  Thank you for contacting us.
</div>
<div style="text-align: center; padding-top: 35px">
  <span style="text-align: center; width: 20%; height: 10%;">
    <%= link_to 'Home', home_path, :class => "btn btn-large btn-primary" %> 
  </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="width: 20%; height: 10%;">
    <%= link_to 'Back', new_contact_u_path, :class => 'btn btn-large btn-primary' %> 
  </span>
</div>