  <section  class="our-work" style="background: #1ABC9C;">

    <div class="container">
<div style="font-size: 35px; text-align: center">FAQ</div>
      <!-- <h1 class="sub-hero experts center">FAQ</h1> -->
      <br/>
      <br/>
      <p class="sub-hero">Frequently Asked Questions</p>

      <div class="portfolio-controls clearfix">

        <font size="3"><p>1) What is a brandslip? </p></font>
          <p> A brandslip is a collaboration between a brand and an influencer that allows a brand to gain exposure by being cleverly incorporated into Vines, Instagram posts, Youtube videos and more.</p>
          <br></br>

        <font size="3"><p>2) How many followers do influencers typically have?</p></font>

          <p>Influencers have anywhere from 25,000 followers/subscribers to over a million. Brands of all sizes can take advantage of the opportunities that our marketplace has to offer. </p>
          <br></br>

        <font size="3"><p>3) What is the approval/onboarding process and how long does it take to officially get signed up?</p></font>

          <p>To ensure quality brandslips we vet all brands and influencers. Brands and influencers first have to sign up on the site and after we do our due diligence we conduct Skype interviews. It may take anywhere from 1-3 days to be accepted onto the platform.</p> 
          <br></br>

        <font size="3"><p>4) How much does a brandslip cost?</p></font>

          <p>Brandslip prices are determined by the influencers. Brands can search for influencers with a budget in mind. </p>
          <br></br>
         
        <font size="3"><p>5) Does it cost anything to sign up? Is there a service fee?</p></font>

          <p>Signing up as a brand or influencer is completely free.  We take a 12 percent service fee for each brandslip. </p>
          <br></br>

        <font size="3"><p>6) Are these collaborations between influencers and brands like video promotions or what?</p></font>

          <p>We give everyone free range to collaborate however you would like! A Vine celebrity could make a joke about a dating app. A fitness app may want to sponsor a body builder’s youtube vlog series. We allow creatives to be creative. We also have onboarding material for brands and influencers to use as guides to create the best brandslips. </p>
          <br></br>
         

        <font size="3"><p>7) How do public speaking brandslips work?</p></font>

          <p>Influencers must list "crowd size" in the description of their brandslip suggestions. Video proof of crowd size as well as the integration of the brand is required for public speaking brandslips. It's quick and easy to upload the video to our platform. For example, a DJ at a party could shout out a brand via Brandslip and have the whole shoutout recorded and sent to the brand.</p>
          <br></br>

        <font size="3"><p>8) What is the quality of these posts by influencers?</p></font>

          <p>Our trusted vetting process ensures that our brandslip opportunities are of high quality. We hold all payments in escrow until both parties agree that the brandslip is completed to satisfaction.</p>
          <br></br>

        <font size="3"><p>9) What are the benefits to brands and influencers? </p></font>

          <p>Brands have the opportunity to market through the most creative influencers on Vine, Youtube, Instagram and at public speaking events. Brandslips are affordable for brands of all sizes targeting markets effectively. Ultimately, you can generate a lot of buzz around your service/product (potentially viral) and garner a larger social media presence. Best of all, there are no lengthy contracts!</p>

          <p>As an influencer, you will have access to a plethora of innovative products and services.  Brandslip gives you the opportunity to connect with some of your favorite large brands as well as discover new products that you can use every day. Best of all, influencers can monetize their following by promoting these cool products and services! </p>
          <br></br>


        <font size="3"><p>10) What if we don’t want to search for these opportunities? What if we want a campaign for our product or service?</p></font>

          <p>You can contact us using the form on the homepage and we can discuss running a campaign for your company at a negotiable rate. We will take care of picking out the influencers and will also play a role in the creative process of the campaigns as well.</p>


      </div> <!-- /.portfolio-controls --> 

      <div id="portfolio" data-columns="3">

      </div> <!-- /#portfolio -->

    </div> <!-- /.container -->

  </section> <!-- /.our-work -->
</div>