

<section id="our-team" class="our-team experts grey center">

    <div class="container">
<div style="font-size: 35px; text-align: center">Our Team</div>
      <!-- <div class="members clearfix" style="margin-left:400px;">


        <div class="member" style="margin-right:20px;">

          <div class="overlay"></div>
          <img src="/assets/face3.jpg" width="211" height="211" alt="William Lee" />
          <p class="name to-right">William Lee.</p>
          <p class="position to-right">Co-Founder</p>
          <p class="info to-right">Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit. </p>
          <ul class="social to-right">
            <li><a href="#">F</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">X</a></li>
          </ul>

        </div>

        <div class="member">

          <div class="overlay"></div>
          <img src="/assets/face4.jpg" width="211" height="211" alt="Kofi Frimpong" />
          <p class="name to-right">Kofi Frimpong.</p>
          <br>
          </br>
          <p class="position to-right">Co-Founder</p>
          <p class="info to-right">Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit. </p>
          <ul class="social to-right">
            <li><a href="#">F</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">X</a></li>
          </ul>

        </div> 
      </div>  -->
      <div class="row">
        <div class="span6 teammate">
          <div class="avatar">
            <%= image_tag "testwilll.jpg", :size =>"96x96", :class => "img-circle" %>
          </div>
          <div class="profile">
            <div class="name">William Lee</div>
            <div><i>Co-Founder</i></div>
            <p> William is a co-founder and COO at Brandslip. Will was born and raised in the Philadelphia area and is a huge Eagles fan. He has experience in marketing and working with brands from his two previous startups. He also served as Project Manager for MealTics.com
              <br/>
             </p>
          </div>
          <div class="links">
            <!-- <a href="#" target="_blank" title="Facebook">
              <%#= image_tag "medias/twitter.png", :size =>"48x48", :class => "icon" %>
            </a>
            <a href="#" target="_blank" title="Facebook">
              <%#= image_tag "medias/linkedin.png", :size =>"48x48", :class => "icon" %>
            </a> -->


              <a href="//www.twitter.com/lifeasbud" target="_blank"><img src = "assets/medias/twitter.png" size = "48x48" style="width: 48px" class="icon"/></a>
              <a href="//www.linkedin.com/pub/william-lee/79/2a2/561" target="_blank"><img src = "assets/medias/linkedin.png" size = "48x48" style="width: 48px" class="icon"/></a>
          </div>
        </div>

        <div class="span6 teammate">
          <div class="avatar">
            <%= image_tag "kofi.png", :size =>"96x96", :class => "img-circle" %>
          </div>
          <div class="profile">
            <div class="name">Kofi Frimpong</div>
            <div><i>Co-Founder</i></div>
            <p>Kofi is a co-founder and CEO at Brandslip. Kofi graduated from Princeton University in 2011 and went on to work at numerous startups and launch 2 startups as well. Kofi is also a contributor for the Huffington Post and has worked with numerous brands through consulting to help them market effectively to target demographics.</p>
          </div>
          <div class="links">
            <!-- <a href="#" target="_blank" title="Facebook">
              <%#= image_tag "medias/twitter.png", :size =>"48x48", :class => "icon" %>
            </a>
            <a href="#" target="_blank" title="Facebook">
              <%#= image_tag "medias/linkedin.png", :size =>"48x48", :class => "icon" %>
            </a> -->

             <a href="//www.twitter.com/therealkofi" target="_blank"><img src = "assets/medias/twitter.png" size = "48x48" style="width: 48px" class="icon"/></a>
              <a href="//www.linkedin.com/pub/kofi-frimpong/13/872/172/" target="_blank"><img src = "assets/medias/linkedin.png" size = "48x48" style="width: 48px" class="icon"/></a>
          </div>
        </div>
        <div class="span2"></div>
      </div>

    </div> <!-- /.container -->

  </section> <!--/.our-team -->