<script type="text/javascript">
  $(document).ready(function() {
    $("li#my_brandslip").addClass("active");
  });
</script> 
<div class="container" style="padding-top: 20px">
  <div class="row">
    <div class="col-lg-10">
      <div style="width: 100%;" id="presenters_bid">
        <%= render "presenters_bid" %>
      </div>
    </div>
  </div>
</div>  