<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p>
  <a data-toggle="modal" rel="modal:open" href="#myModalconfirm_password" style="color: white;">
     <%#= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
    <%= link_to 'Change my password', home_url(:is_reset_password => 1, :reset_password_token => @resource.reset_password_token) %>
      
  </a>
</p>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
