<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="footer-inner">
    2013 &copy; Metronic by keenthemes.
  </div>
  <div class="footer-tools">
    <span class="go-top">
      <i class="icon-angle-up"></i>
    </span>
  </div>
</div>
<!-- END FOOTER -->
   
<script src="/assets/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/admin/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script> 
<script src="/assets/admin/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/admin/jquery.blockui.min.js" type="text/javascript"></script>  
<script src="/assets/admin/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/assets/admin/jquery.uniform.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/assets/admin/select2.min.js"></script>
<script type="text/javascript" src="/assets/admin/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/admin/DT_bootstrap.js"></script>
<script src="/assets/admin/app.js"></script>   
<script src="/assets/admin/admin.js"></script>   
<script>
  jQuery(document).ready(function() {
    // initiate layout and plugins
    App.init();    
  });
</script>
</body>
</html>