<!DOCTYPE html>
<html>
<head>
  <title>BrandSlip Admin</title>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/gif" href="/assets/favicon.png">
  <link href="/assets/admin_css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin_css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin_css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin_css/style-metro.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin_css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin_css/style-responsive.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/admin_css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="/assets/admin_css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="/assets/admin_css/select2_metro.css" />
  <link rel="stylesheet" href="/assets/admin_css/DT_bootstrap.css" />
  <link rel="shortcut icon" href="favicon.ico" />  
<script src="/assets/admin/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/assets/admin/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>   
  
</head>

<body class="page-header-fixed">



<div class="header navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="<%= manage_users_admin_path %>">
        BrandSlip Admin
      </a>
      <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <img src="/assets/admin/menu-toggler.png" alt="" />
      </a>                    
      <ul class="nav pull-right">
        <!-- BEGIN NOTIFICATION DROPDOWN -->   
        <li class="dropdown" id="header_notification_bar">

        </li>
        <!-- END NOTIFICATION DROPDOWN -->
        <!-- BEGIN INBOX DROPDOWN -->
        <li class="dropdown" id="header_inbox_bar">

          <ul class="dropdown-menu extended inbox">

          </ul>
        </li>
        <!-- END INBOX DROPDOWN -->
        <!-- BEGIN TODO DROPDOWN -->
        <li class="dropdown" id="header_task_bar">

        </li>
        <!-- END TODO DROPDOWN -->               
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" src="/assets/admin/avatar1_small.jpg" />
            <span class="username">Kofi Frimpong</span>
            <i class="icon-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
            <li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
            <li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox <span class="badge badge-important">3</span></a></li>
            <li><a href="#"><i class="icon-tasks"></i> My Tasks <span class="badge badge-success">8</span></a></li>
            <li class="divider"></li>
            <li><a href="javascript:;" id="trigger_fullscreen"><i class="icon-move"></i> Full Screen</a></li>
            <li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>
            <li><a href="<%= logout_admin_url %>"><i class="icon-key"></i> Log Out</a></li>
          </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
      <!-- END TOP NAVIGATION MENU --> 
    </div>
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
