<!DOCTYPE html>
<html>
<head>
  <title>BrandSlip Admin</title>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/gif" href="/assets/favicon.png">
</head>
<body class="page-header-fixed">
<%= yield %>
</body>
</html>
